.cvs {
    /* margin-left: auto !important;
    margin-right: auto !important; */
    padding: 4rem;
}

/* .values {
    margin-left: 1.5rem;
} */

.cv-contanier {
    font-weight: bold;
    padding: 1rem;
}