.cvs {
    padding: 4rem;
}

.values {
    width: 65%;
}

.mykeys{
    width: 35%;
    min-width: 35% !important;
}

.cv-contanier {
    font-weight: bold;
    padding: 1rem;
    display: flex;
    flex-direction: row
}

.ui.card, .ui.cards>.card{
    width:35% !important;
}